<!doctype html>
<html>
  <head>
    <link rel="icon" href="data:," />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>To Do App</title>
  </head>
  <body class="h-full text-white bg-slate-800 p-3 flex flex-col justify-evenly">
    <section id="form-section">
      <form
        hx-post="/new-todo"
        hx-target="#todo-list"
        hx-swap="beforeend"
        hx-on::after-request="this.reset(); document.activeElement.blur();"
      >
        <h2>Form</h2>
        <div>
          <input type="text" class="bg-white text-slate-800 p-1" name="task" />
        </div>
        <div class="mt-2">
          <button
            type="submit"
            class="p-2 focus:bg-yellow-300 bg-slate-500 cursor-pointer rounded-sm outline-1 outline-slate-50"
          >
            Add todo
          </button>
        </div>
      </form>
    </section>
    <div id="todo-list" class="w-fit mt-12 flex flex-col gap-1">
      {{range .}} {{template "todo" .}} {{else}}
      <li>No tasks available.</li>
      {{end}}
    </div>
    <script src="/static/filter-out-todo-from-dom.js"></script>
  </body>
</html>
